//- Declaration
mixin header
    // Third party
    script(src='https://code.jquery.com/jquery-3.3.1.min.js',
        integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=',
        crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', 
        integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q',
        crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
        integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl',
        crossorigin='anonymous')
    link(rel='stylesheet', 
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',
        crossorigin='anonymous')
    
    // Files
    link(href='content/style.css', rel='stylesheet', type='text/css')
    script(src='content/javascript/script.js')

mixin navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="#") Osmium
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent",
            aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="#") Home 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#") Rules
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Universe
                    .dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="#") People
                        a.dropdown-item(href="#") Places
                        .dropdown-divider
                        a.dropdown-item(href="#") Things
                li.nav-item
                    a.nav-link.disabled(href="#") Disabled
                li.nav-item
                    a.nav-link(href="#") Adventures