mixin footer
    .container-fluid(style="margin-top: 3rem;")
        .row
            .col-lg-2.hidden-xs
            .col-lg-8.col-12
                hr 
                p   Osmium Universe Copyright 2018 Parker Harris Emerson. Genesys and the Narrative Dice System Copyright 2017-2018 Fantasy Flight Games.
                p 
                    strong Last Update: 
                    | October 26, 2018; 11:28

mixin header
    // Meta
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Third party
    script(src='https://code.jquery.com/jquery-3.3.1.min.js',
        integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=',
        crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', 
        integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q',
        crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
        integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl',
        crossorigin='anonymous')
    link(rel='stylesheet', 
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',
        crossorigin='anonymous')
    
mixin navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="/index.html") Osmium
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent",
            aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Rules
                    .dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="/index.html") About
                        a.dropdown-item(href="/changelog.html") Changelog
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Rules
                    .dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="/rules/house.html") House Rules
                        a.dropdown-item(href="/rules/careers.html") Careers
                        a.dropdown-item(href="/rules/magic.html") Magic
                        a.dropdown-item(href="/rules/skills.html") Skills
                        a.dropdown-item(href="/rules/species.html") Species
                        a.dropdown-item(href="/rules/talents.html") Talents
                li.nav-item
                    a.nav-link(href="/universe/gear.html") Gear
                //-
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Universe
                        .dropdown-menu(aria-labelledby="navbarDropdown")
                            a.dropdown-item(href="#") People
                            a.dropdown-item(href="#") Places
                            .dropdown-divider
                            a.dropdown-item(href="#") Things
                    li.nav-item
                        a.nav-link.disabled(href="#") Disabled
                    li.nav-item
                        a.nav-link(href="/adventures/hotlanta.html") Adventures

mixin talentstat(tier, activation, ranked, tags)
    .talent-stat
        p
            strong Tier: 
            span= tier
        p
            strong Activation: 
            span= activation
        p
            strong Ranked: 
            span= ranked
        p 
            strong Tags: 
            span= tags

mixin spellstat(action, range, difficulty, concentration)
    .spell-stat
        p
            strong Action: 
            span= action
        p
            strong Range: 
            span= range
        p
            strong Difficulty: 
            span.dice.difficulty= difficulty
        p 
            strong Concentration: 
            span= concentration

mixin gear-weapon(name, skill, damage, crit, range, encumbrance, price, rarity, hardpoints, special)
    tr
        td(scope="row")= name
        td= skill
        td= damage
        td= crit
        td= range
        td= encumbrance
        td= price
        td= rarity
        td= hardpoints 
        td= special

mixin gear-armor(name, melee, ranged, soak, encumbrance, price, rarity, hardpoints, special)
    tr
        td(scope="row")= name
        td= melee
        td= ranged
        td= soak
        td= encumbrance
        td= price
        td= rarity
        td= hardpoint 
        td= special

mixin gear-other(name, price, encumbrance, rarity, special)
    tr
        td(scope="row")= name
        td= price
        td= encumbrance
        td= rarity
        td= special